{
  "presets": ["latest", "stage-2", "react", {
    "plugins": [
      "./build/babelRelayPlugin"
    ]
  }],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
